@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Oswald:wght@500&family=Permanent+Marker&family=Phudu:wght@500&family=Roboto+Condensed&family=Staatliches&display=swap");

.App {
  background-color: #121212;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
  width: 200px;
  margin: 0 auto;
}

.link1,
.link2 {
  text-decoration: none;
  color: #ededec;
  font-size: 23px;
  font-family: "Oswald", sans-serif;
  transition: transform 0.5s ease;
}
.link1 {
  margin-top: 30px;
}
.link1:hover,
.link2:hover {
  color: #1db954;
  transform: translateY(-3px);
}
.active {
  color: #1db954;
}
