.fave-button {
  border: none;
}
.album-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}
.album-tracks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.CardTracks {
  background-color: white;
}
